*{
    padding: 0;
    margin: 0;
}

body{
    background-color: hsl(330, 100%, 98%);
    display: flex;
    justify-content: center;
    
}

.MainPage{
    flex-direction: column;
    padding: 20px;
    display: flex;
    justify-content: center;
    background-color: aliceblue;
    max-width: 40%;
    width: auto;
}

.firstpart figure img{
    border-radius: 10px;
    max-width: 100%;
    height : auto;
    width: auto;
    
}

.firstpart h2{
    font : bold 1.5em/1.5em 'Courier New', Courier, monospace;
    font-size: 38px;
    font-family: 'Courier New', Courier, monospace;
    line-height: 39px;
    margin-bottom : 14px;
}

.MainPage p{
    font-size: 19px;
}

.MainPage .preptime{   

    margin-top: 25px;
    background-color: rgba(255, 192, 203, 0.448);
    border-radius : 4px;
    padding: 5px;
}

.MainPage .preptime p{
    font-size: 25px;
    padding: 3px;
    font-style: bold;
    margin-left : 7px;
}

.MainPage .preptime ul li{
    margin-left: 8px;
    padding: 6px;
    list-style-position: inside;
}

.MainPage #ingredients h3{
    font-size: 25px;
    margin-top: 20px;
}

.MainPage #ingredients ul{
    margin-top: 9px;
    margin-left: 13px;
}

.MainPage #ingredients ul li{
    margin: 6px;
}

.MainPage #ingredients hr{
    margin-top: 25px;
}

.MainPage #Instructions h3{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 25px;
    color: brown;
}

.MainPage #Instructions ol{
    margin-left: 20px;
    line-height: 20px;
}

.MainPage #Instructions ol li::marker{
    color: brown;
}
.MainPage #Instructions ol li{
   padding-left: 15px; 
}